.absolute {
  position: absolute
}

.relative {
  position: relative
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px
}

.top-\[4px\] {
  top: 4px
}

.right-\[0px\] {
  right: 0px
}

.right-\[12px\] {
  right: 12px
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.top-\[30\%\] {
  top: 30%
}

.bottom-\[35px\] {
  bottom: 35px
}

.top-0 {
  top: 0px
}

.top-\[3px\] {
  top: 3px
}

.right-\[4px\] {
  right: 4px
}

.right-\[9px\] {
  right: 9px
}

.bottom-\[10\%\] {
  bottom: 10%
}

.top-\[8\%\] {
  top: 8%
}

.bottom-0 {
  bottom: 0px
}

.right-\[5px\] {
  right: 5px
}

.top-\[6px\] {
  top: 6px
}

.top-\[40\%\] {
  top: 40%
}

.right-4 {
  right: 1rem
}

.top-\[20\%\] {
  top: 20%
}

.right-\[15px\] {
  right: 15px
}

.bottom-3 {
  bottom: 0.75rem
}

.top-\[33\%\] {
  top: 33%
}

.top-\[8px\] {
  top: 8px
}

.top-\[25\%\] {
  top: 25%
}

.bottom-\[11\%\] {
  bottom: 11%
}

.bottom-\[3\%\] {
  bottom: 3%
}

.z-50 {
  z-index: 50
}

.z-40 {
  z-index: 40
}

.z-10 {
  z-index: 10
}

.z-30 {
  z-index: 30
}

.z-0 {
  z-index: 0
}

.z-20 {
  z-index: 20
}

.z-\[1\] {
  z-index: 1
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem
}

.mt-\[5px\] {
  margin-top: 5px
}

.mt-6 {
  margin-top: 1.5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.ml-1 {
  margin-left: 0.25rem
}

.ml-\[21px\] {
  margin-left: 21px
}

.ml-2 {
  margin-left: 0.5rem
}

.mr-\[21px\] {
  margin-right: 21px
}

.mt-\[10px\] {
  margin-top: 10px
}

.mt-2 {
  margin-top: 0.5rem
}

.mr-\[32px\] {
  margin-right: 32px
}

.mt-1 {
  margin-top: 0.25rem
}

.ml-\[20px\] {
  margin-left: 20px
}

.mb-4 {
  margin-bottom: 1rem
}

.mr-1 {
  margin-right: 0.25rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-\[16px\] {
  margin-right: 16px
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-\[18px\] {
  margin-bottom: 18px
}

.ml-4 {
  margin-left: 1rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mb-\[24px\] {
  margin-bottom: 24px
}

.mr-\[12px\] {
  margin-right: 12px
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mr-\[11px\] {
  margin-right: 11px
}

.mr-5 {
  margin-right: 1.25rem
}

.mb-\[6px\] {
  margin-bottom: 6px
}

.mr-4 {
  margin-right: 1rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mr-\[13px\] {
  margin-right: 13px
}

.mb-\[12px\] {
  margin-bottom: 12px
}

.mt-\[15px\] {
  margin-top: 15px
}

.mt-\[28px\] {
  margin-top: 28px
}

.mr-\[15px\] {
  margin-right: 15px
}

.mt-\[25px\] {
  margin-top: 25px
}

.mr-3 {
  margin-right: 0.75rem
}

.mt-\[40px\] {
  margin-top: 40px
}

.mt-\[20px\] {
  margin-top: 20px
}

.mr-\[10px\] {
  margin-right: 10px
}

.mt-\[30px\] {
  margin-top: 30px
}

.mt-4 {
  margin-top: 1rem
}

.mt-\[16px\] {
  margin-top: 16px
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-10 {
  margin-top: 2.5rem
}

.mt-\[37px\] {
  margin-top: 37px
}

.mt-\[6px\] {
  margin-top: 6px
}

.mt-\[32px\] {
  margin-top: 32px
}

.mb-8 {
  margin-bottom: 2rem
}

.mb-\[32px\] {
  margin-bottom: 32px
}

.mt-\[1px\] {
  margin-top: 1px
}

.mt-12 {
  margin-top: 3rem
}

.mb-\[20px\] {
  margin-bottom: 20px
}

.mt-\[18px\] {
  margin-top: 18px
}

.mb-\[7px\] {
  margin-bottom: 7px
}

.mb-\[4px\] {
  margin-bottom: 4px
}

.mb-\[8px\] {
  margin-bottom: 8px
}

.mt-\[4px\] {
  margin-top: 4px
}

.flex {
  display: flex
}

.hidden {
  display: none
}

.h-\[30px\] {
  height: 30px
}

.h-\[20px\] {
  height: 20px
}

.h-\[60px\] {
  height: 60px
}

.h-full {
  height: 100%
}

.h-\[90px\] {
  height: 90px
}

.h-\[24px\] {
  height: 24px
}

.h-\[70px\] {
  height: 70px
}

.h-\[50px\] {
  height: 50px
}

.h-\[40px\] {
  height: 40px
}

.h-\[30\] {
  height: 30
}

.h-\[250px\] {
  height: 250px
}

.h-\[100px\] {
  height: 100px
}

.h-\[56px\] {
  height: 56px
}

.h-\[95px\] {
  height: 95px
}

.h-\[410px\] {
  height: 410px
}

.h-\[7px\] {
  height: 7px
}

.h-\[280px\] {
  height: 280px
}

.h-\[150px\] {
  height: 150px
}

.h-\[55px\] {
  height: 55px
}

.h-\[110px\] {
  height: 110px
}

.h-\[72px\] {
  height: 72px
}

.h-\[64px\] {
  height: 64px
}

.h-\[36px\] {
  height: 36px
}

.h-6 {
  height: 1.5rem
}

.h-\[16px\] {
  height: 16px
}

.h-\[300px\] {
  height: 300px
}

.h-\[52px\] {
  height: 52px
}

.h-\[4px\] {
  height: 4px
}

.h-\[48px\] {
  height: 48px
}

.h-\[11px\] {
  height: 11px
}

.h-\[200px\] {
  height: 200px
}

.h-\[38px\] {
  height: 38px
}

.h-\[1px\] {
  height: 1px
}

.h-\[80px\] {
  height: 80px
}

.h-\[39px\] {
  height: 39px
}

.h-\[82px\] {
  height: 82px
}

.h-\[252px\] {
  height: 252px
}

.h-\[10px\] {
  height: 10px
}

.min-h-full {
  min-height: 100%
}

.w-\[8px\] {
  width: 8px
}

.w-\[120px\] {
  width: 120px
}

.w-full {
  width: 100%
}

.w-\[70px\] {
  width: 70px
}

.w-\[40px\] {
  width: 40px
}

.w-\[20px\] {
  width: 20px
}

.w-\[24px\] {
  width: 24px
}

.w-\[50px\] {
  width: 50px
}

.w-\[100px\] {
  width: 100px
}

.w-\[44\%\] {
  width: 44%
}

.w-\[56\%\] {
  width: 56%
}

.w-\[95px\] {
  width: 95px
}

.w-\[7px\] {
  width: 7px
}

.w-\[60px\] {
  width: 60px
}

.w-\[130px\] {
  width: 130px
}

.w-\[110px\] {
  width: 110px
}

.w-\[72px\] {
  width: 72px
}

.w-\[90px\] {
  width: 90px
}

.w-\[30px\] {
  width: 30px
}

.w-\[140px\] {
  width: 140px
}

.w-\[50\%\] {
  width: 50%
}

.w-6 {
  width: 1.5rem
}

.w-\[16px\] {
  width: 16px
}

.w-\[80\%\] {
  width: 80%
}

.w-1\/3 {
  width: 33.333333%
}

.w-\[61px\] {
  width: 61px
}

.w-1\/4 {
  width: 25%
}

.w-\[82px\] {
  width: 82px
}

.w-\[315px\] {
  width: 315px
}

.w-\[48\%\] {
  width: 48%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.items-start {
  align-items: flex-start
}

.items-end {
  align-items: flex-end
}

.items-center {
  align-items: center
}

.justify-start {
  justify-content: flex-start
}

.justify-end {
  justify-content: flex-end
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.justify-around {
  justify-content: space-around
}

.overflow-hidden {
  overflow: hidden
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-full {
  border-radius: 9999px
}

.rounded-\[4px\] {
  border-radius: 4px
}

.rounded-\[30px\] {
  border-radius: 30px
}

.rounded-\[24px\] {
  border-radius: 24px
}

.rounded-xl {
  border-radius: 0.75rem
}

.rounded-\[13px\] {
  border-radius: 13px
}

.rounded-t-\[10px\] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.rounded-t-\[16px\] {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px
}

.rounded-t-2xl {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem
}

.rounded-t-\[13px\] {
  border-top-left-radius: 13px;
  border-top-right-radius: 13px
}

.rounded-b-\[13px\] {
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px
}

.rounded-t-xl {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem
}

.border {
  border-width: 1px
}

.border-t {
  border-top-width: 1px
}

.border-b-2 {
  border-bottom-width: 2px
}

.border-b {
  border-bottom-width: 1px
}

.border-b-4 {
  border-bottom-width: 4px
}

.border-r {
  border-right-width: 1px
}

.border-\[\#E9E9E9\] {
  --tw-border-opacity: 1;
  border-color: rgb(233 233 233 / var(--tw-border-opacity))
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-\[\#F4F4F4\] {
  --tw-border-opacity: 1;
  border-color: rgb(244 244 244 / var(--tw-border-opacity))
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(255 225 69 / var(--tw-border-opacity))
}

.border-line {
  --tw-border-opacity: 1;
  border-color: rgb(244 244 244 / var(--tw-border-opacity))
}

.border-\[\#FF521C\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 82 28 / var(--tw-border-opacity))
}

.border-\[\#EAEAEA\] {
  --tw-border-opacity: 1;
  border-color: rgb(234 234 234 / var(--tw-border-opacity))
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.bg-primary_og {
  --tw-bg-opacity: 1;
  background-color: rgb(255 82 28 / var(--tw-bg-opacity))
}

.bg-background {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[\#FF594F\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 89 79 / var(--tw-bg-opacity))
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(255 225 69 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-\[\#F4F4F4\] {
  --tw-bg-opacity: 1;
  background-color: rgb(244 244 244 / var(--tw-bg-opacity))
}

.bg-\[\#DEE2E8\] {
  --tw-bg-opacity: 1;
  background-color: rgb(222 226 232 / var(--tw-bg-opacity))
}

.bg-\[\#FFEBED\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 235 237 / var(--tw-bg-opacity))
}

.bg-light {
  --tw-bg-opacity: 1;
  background-color: rgb(230 250 240 / var(--tw-bg-opacity))
}

.bg-\[\#00000066\] {
  background-color: #00000066
}

.bg-transparent {
  background-color: transparent
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity))
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.bg-\[\#E9E9E9\] {
  --tw-bg-opacity: 1;
  background-color: rgb(233 233 233 / var(--tw-bg-opacity))
}

.bg-\[\#FFE145\] {
  --tw-bg-opacity: 1;
  background-color: rgb(255 225 69 / var(--tw-bg-opacity))
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.bg-\[\#FAFAFA\] {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity))
}

.bg-\[\#1383EA0F\] {
  background-color: #1383EA0F
}

.bg-\[\#E6FAF0\] {
  --tw-bg-opacity: 1;
  background-color: rgb(230 250 240 / var(--tw-bg-opacity))
}

.bg-\[\#F5F5F5CC\] {
  background-color: #F5F5F5CC
}

.bg-\[\#282828\] {
  --tw-bg-opacity: 1;
  background-color: rgb(40 40 40 / var(--tw-bg-opacity))
}

.p-\[21px\] {
  padding: 21px
}

.p-3 {
  padding: 0.75rem
}

.p-4 {
  padding: 1rem
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-\[13px\] {
  padding-left: 13px;
  padding-right: 13px
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-\[16px\] {
  padding-top: 16px;
  padding-bottom: 16px
}

.px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px
}

.px-\[30px\] {
  padding-left: 30px;
  padding-right: 30px
}

.px-\[23px\] {
  padding-left: 23px;
  padding-right: 23px
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.px-\[16px\] {
  padding-left: 16px;
  padding-right: 16px
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px
}

.py-\[18px\] {
  padding-top: 18px;
  padding-bottom: 18px
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.pt-3 {
  padding-top: 0.75rem
}

.pb-10 {
  padding-bottom: 2.5rem
}

.pt-1 {
  padding-top: 0.25rem
}

.pr-4 {
  padding-right: 1rem
}

.pr-5 {
  padding-right: 1.25rem
}

.pl-\[13px\] {
  padding-left: 13px
}

.pr-\[20px\] {
  padding-right: 20px
}

.pt-4 {
  padding-top: 1rem
}

.pb-\[20px\] {
  padding-bottom: 20px
}

.pr-\[6px\] {
  padding-right: 6px
}

.pl-\[6px\] {
  padding-left: 6px
}

.pl-\[30px\] {
  padding-left: 30px
}

.pt-\[12px\] {
  padding-top: 12px
}

.pb-4 {
  padding-bottom: 1rem
}

.pb-\[28px\] {
  padding-bottom: 28px
}

.pb-\[32px\] {
  padding-bottom: 32px
}

.text-center {
  text-align: center
}

.text-\[20px\] {
  font-size: 20px
}

.text-\[18px\] {
  font-size: 18px
}

.text-\[17px\] {
  font-size: 17px
}

.text-\[14px\] {
  font-size: 14px
}

.text-\[12px\] {
  font-size: 12px
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-\[19px\] {
  font-size: 19px
}

.text-\[16px\] {
  font-size: 16px
}

.text-\[21px\] {
  font-size: 21px
}

.text-\[13px\] {
  font-size: 13px
}

.text-\[10px\] {
  font-size: 10px
}

.text-\[40px\] {
  font-size: 40px
}

.text-\[15px\] {
  font-size: 15px
}

.text-\[27px\] {
  font-size: 27px
}

.text-\[22px\] {
  font-size: 22px
}

.text-\[26px\] {
  font-size: 26px
}

.text-\[23px\] {
  font-size: 23px
}

.font-\[500\] {
  font-weight: 500
}

.font-\[700\] {
  font-weight: 700
}

.font-\[600\] {
  font-weight: 600
}

.font-\[400\] {
  font-weight: 400
}

.font-bold {
  font-weight: 700
}

.leading-\[23px\] {
  line-height: 23px
}

.leading-\[21px\] {
  line-height: 21px
}

.leading-\[20px\] {
  line-height: 20px
}

.leading-\[17px\] {
  line-height: 17px
}

.leading-\[15px\] {
  line-height: 15px
}

.leading-\[22px\] {
  line-height: 22px
}

.leading-\[19px\] {
  line-height: 19px
}

.leading-\[24px\] {
  line-height: 24px
}

.leading-\[16px\] {
  line-height: 16px
}

.leading-\[43px\] {
  line-height: 43px
}

.leading-\[18px\] {
  line-height: 18px
}

.leading-\[30px\] {
  line-height: 30px
}

.leading-\[14px\] {
  line-height: 14px
}

.leading-\[25px\] {
  line-height: 25px
}

.leading-\[36\] {
  line-height: 36
}

.leading-\[29px\] {
  line-height: 29px
}

.leading-\[15pxpx\] {
  line-height: 15pxpx
}

.leading-\[26px\] {
  line-height: 26px
}

.text-\[\#909090\] {
  --tw-text-opacity: 1;
  color: rgb(144 144 144 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-\[\#D3D3D3\] {
  --tw-text-opacity: 1;
  color: rgb(211 211 211 / var(--tw-text-opacity))
}

.text-\[\#1C1C1E\] {
  --tw-text-opacity: 1;
  color: rgb(28 28 30 / var(--tw-text-opacity))
}

.text-\[\#7B7B7C\] {
  --tw-text-opacity: 1;
  color: rgb(123 123 124 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(255 225 69 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-\[\#848688\] {
  --tw-text-opacity: 1;
  color: rgb(132 134 136 / var(--tw-text-opacity))
}

.text-\[\#0066FF\] {
  --tw-text-opacity: 1;
  color: rgb(0 102 255 / var(--tw-text-opacity))
}

.text-\[\#EC344A\] {
  --tw-text-opacity: 1;
  color: rgb(236 52 74 / var(--tw-text-opacity))
}

.text-dark {
  --tw-text-opacity: 1;
  color: rgb(11 171 94 / var(--tw-text-opacity))
}

.text-\[\#39393B\] {
  --tw-text-opacity: 1;
  color: rgb(57 57 59 / var(--tw-text-opacity))
}

.text-\[\#A7A7A8\] {
  --tw-text-opacity: 1;
  color: rgb(167 167 168 / var(--tw-text-opacity))
}

.text-\[\#FF2E00\] {
  --tw-text-opacity: 1;
  color: rgb(255 46 0 / var(--tw-text-opacity))
}

.text-\[\#DEE2E8\] {
  --tw-text-opacity: 1;
  color: rgb(222 226 232 / var(--tw-text-opacity))
}

.text-\[\#FF521C\] {
  --tw-text-opacity: 1;
  color: rgb(255 82 28 / var(--tw-text-opacity))
}

.text-\[\#000000\] {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-primary_og {
  --tw-text-opacity: 1;
  color: rgb(255 82 28 / var(--tw-text-opacity))
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-\[\#4F4F51\] {
  --tw-text-opacity: 1;
  color: rgb(79 79 81 / var(--tw-text-opacity))
}

.text-\[\#888888\] {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity))
}

.text-\[\#1383EA\] {
  --tw-text-opacity: 1;
  color: rgb(19 131 234 / var(--tw-text-opacity))
}

.text-\[\#FF490F\] {
  --tw-text-opacity: 1;
  color: rgb(255 73 15 / var(--tw-text-opacity))
}

.text-\[\#0BAB5E\] {
  --tw-text-opacity: 1;
  color: rgb(11 171 94 / var(--tw-text-opacity))
}

.text-\[\#007AFF\] {
  --tw-text-opacity: 1;
  color: rgb(0 122 255 / var(--tw-text-opacity))
}

.text-\[\#FF3B30\] {
  --tw-text-opacity: 1;
  color: rgb(255 59 48 / var(--tw-text-opacity))
}

.text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity))
}

.text-\[\#FFE145\] {
  --tw-text-opacity: 1;
  color: rgb(255 225 69 / var(--tw-text-opacity))
}

.line-through {
  text-decoration-line: line-through
}

.opacity-50 {
  opacity: 0.5
}

.opacity-40 {
  opacity: 0.4
}

.opacity-80 {
  opacity: 0.8
}

.opacity-60 {
  opacity: 0.6
}

.opacity-70 {
  opacity: 0.7
}
